<div id="<%= dom_id donation_activity %>">
  <p>
    <strong>Total donations:</strong>
    <%= donation_activity.total_donations %>
  </p>

  <p>
    <strong>Monthly donations:</strong>
    <%= donation_activity.monthly_donations %>
  </p>

  <p>
    <strong>Average donation:</strong>
    <%= donation_activity.average_donation %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= donation_activity.month %>
  </p>

  <p>
    <strong>Visits:</strong>
    <%= donation_activity.visits %>
  </p>

  <p>
    <strong>Signups:</strong>
    <%= donation_activity.signups %>
  </p>

  <p>
    <strong>Active users:</strong>
    <%= donation_activity.active_users %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= donation_activity.date %>
  </p>

  <p>
    <strong>Donations:</strong>
    <%= donation_activity.donations %>
  </p>

</div>
