<div id="<%= dom_id user_engagement %>">
  <p>
    <strong>Total users:</strong>
    <%= user_engagement.total_users %>
  </p>

  <p>
    <strong>Active users:</strong>
    <%= user_engagement.active_users %>
  </p>

  <p>
    <strong>Inactive users:</strong>
    <%= user_engagement.inactive_users %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= user_engagement.month %>
  </p>

  <p>
    <strong>Visits:</strong>
    <%= user_engagement.visits %>
  </p>

  <p>
    <strong>Signups:</strong>
    <%= user_engagement.signups %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= user_engagement.date %>
  </p>

  <p>
    <strong>Donations:</strong>
    <%= user_engagement.donations %>
  </p>

</div>
